Repository hpi-dhc/PharMe, pull requests merged in 2022-05, with the labels that each got.

#255 Annotation server image: add Python and adjust compose paths
  annotation-server/Dockerfile
  annotation-server/docker-compose.yml
Labels: P: Annotation Server

#226 Implement Annotation server architecture and fetch data from Google Sheets
  .github/workflows/annotation-server.yml
  annotation-server/.env.example
  annotation-server/.gitignore
  annotation-server/CONTRIBUTING.md
  annotation-server/data/example-database.zip
  annotation-server/data/random-database.zip
  annotation-server/package.json
  annotation-server/scripts/generate-example-data
  annotation-server/src/app.module.ts
  annotation-server/src/common/google-sheets.ts
  annotation-server/src/gene-phenotypes/dtos/create-gene-symbol.dto.ts
  annotation-server/src/gene-phenotypes/dtos/diplotype.dto.ts
  annotation-server/src/gene-phenotypes/entities/gene-phenotype.entity.ts
  annotation-server/src/gene-phenotypes/entities/gene-symbol.entity.ts
  annotation-server/src/gene-phenotypes/entities/phenotype.entity.ts
  annotation-server/src/gene-phenotypes/gene-phenotypes.controller.ts
  annotation-server/src/gene-phenotypes/gene-phenotypes.module.ts
  annotation-server/src/gene-phenotypes/gene-phenotypes.service.ts
  annotation-server/src/guidelines/guideline.entity.ts
  annotation-server/src/guidelines/guidelines.controller.ts
  annotation-server/src/guidelines/guidelines.module.ts
  annotation-server/src/guidelines/guidelines.service.ts
  annotation-server/src/medications/dtos/drugbank.dto.ts
  annotation-server/src/medications/medication.entity.ts
  annotation-server/src/medications/medications.controller.ts
  annotation-server/src/medications/medications.module.ts
  annotation-server/src/medications/medications.service.ts
  annotation-server/test/.env.example
  annotation-server/test/app.e2e-spec.ts
  annotation-server/test/medications.e2e-spec.ts
  yarn.lock
Labels: T: Feature, T: Refactor, P: Annotation Server

#241 Onboarding overflow
  app/lib/common/widgets/headings.dart
  app/lib/onboarding/pages/onboarding.dart
Labels: P: App, T: Change, T: Fix

#234 230 Home Screen
  annotation-server/src/medications/medications.controller.ts
  annotation-server/src/medications/medications.service.ts
  app/assets/images/logo.svg
  app/ios/Podfile.lock
  app/lib/common/constants.dart
  app/lib/common/module.dart
  app/lib/common/utilities/genome_data.dart
  app/lib/common/widgets/rounded_card.dart
  app/lib/main.dart
  app/lib/medications/models/medication.dart
  app/lib/medications/pages/overview/cubit.dart
  app/lib/medications/pages/overview/page.dart
  app/pubspec.lock
  app/pubspec.yaml
Labels: P: App, P: Annotation Server

#245 Settings Page (+ Data Deletion)
  app/lib/common/models/cpic_lookup_response.dart
  app/lib/common/models/diplotype.dart
  app/lib/common/models/userdata.dart
  app/lib/common/module.dart
  app/lib/common/pages/main.dart
  app/lib/common/routing/router.dart
  app/lib/common/utilities/genome_data.dart
  app/lib/common/widgets/app.dart
  app/lib/l10n/app_de.arb
  app/lib/l10n/app_en.arb
  app/lib/login/pages/cubit.dart
  app/lib/login/pages/login.dart
  app/lib/main.dart
  app/lib/medications/pages/details/page.dart
  app/lib/medications/pages/overview/page.dart
  app/lib/onboarding/pages/onboarding.dart
  app/lib/pgx/pages/pgx.dart
  app/lib/profile/module.dart
  app/lib/profile/pages/profile.dart
  app/lib/reports/pages/reports.dart
  app/lib/settings/module.dart
  app/lib/settings/pages/settings.dart
  app/lib/settings/utils.dart
Labels: P: App

#261 Add PharMe App Icon
  app/android/app/src/main/AndroidManifest.xml
  app/android/app/src/main/res/mipmap-hdpi/launcher_icon.png
  app/android/app/src/main/res/mipmap-mdpi/launcher_icon.png
  app/android/app/src/main/res/mipmap-xhdpi/launcher_icon.png
  app/android/app/src/main/res/mipmap-xxhdpi/launcher_icon.png
  app/android/app/src/main/res/mipmap-xxxhdpi/launcher_icon.png
  app/assets/icon/icon.png
  app/ios/Podfile.lock
  app/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-1024x1024@1x.png
  app/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-20x20@1x.png
  app/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-20x20@2x.png
  app/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-20x20@3x.png
  app/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-29x29@1x.png
  app/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-29x29@2x.png
  app/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-29x29@3x.png
  app/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-40x40@1x.png
  app/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-40x40@2x.png
  app/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-40x40@3x.png
  app/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-60x60@2x.png
  app/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-60x60@3x.png
  app/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-76x76@1x.png
  app/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-76x76@2x.png
  app/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-83.5x83.5@2x.png
  app/pubspec.lock
  app/pubspec.yaml
Labels: P: App

#278 Minor hotfixes and inconsistencies
  annotation-server/src/app.module.ts
  annotation-server/src/guidelines/guidelines.service.ts
  annotation-server/src/medications/medications.service.spec.ts
  annotation-server/test/app.e2e-spec.ts
Labels: P: Annotation Server

#283 style: clarify runner stage in dockerfiles
  annotation-server/Dockerfile
  lab-server/Dockerfile
Labels: P: Annotation Server, P: Lab Server

#279 Issue/214 keep guidelines up to date
  annotation-server/CONTRIBUTING.md
  annotation-server/package.json
  annotation-server/src/app.controller.spec.ts
  annotation-server/src/app.controller.ts
  annotation-server/src/app.module.ts
  annotation-server/src/app.service.ts
  annotation-server/src/guidelines/guidelines.module.ts
  yarn.lock
Labels: T: Feature, P: Annotation Server

#285 Really random stuff
  annotation-server/.prettierrc
  annotation-server/CONTRIBUTING.md
  lab-server/.prettierrc
Labels: T: Docs, T: Meta, P: Annotation Server

#269 Discussion: Flutter Code Style
  .github/pull_request_template.md
  docs/FLUTTER_STYLE.md
  pharme.code-workspace
Labels: T: Docs

#289 270 extract relevant guidelines
  app/lib/common/constants.dart
  app/lib/common/models/cpic_lookup_response.dart
  app/lib/common/models/userdata.dart
  app/lib/common/utilities/genome_data.dart
  app/lib/common/utilities/medication_utils.dart
  app/lib/reports/pages/reports.dart
Labels: P: App

#286 Make annotation server init route works uncodintionally
  annotation-server/src/medications/medications.service.ts
Labels: T: Fix, P: Annotation Server

#260 Setup proper error handling
  annotation-server/src/common/cache-map.ts
  annotation-server/src/gene-phenotypes/gene-phenotypes.service.ts
  annotation-server/src/guidelines/caches/gene-phenotype-caches.ts
  annotation-server/src/guidelines/caches/guideline-cache.ts
  annotation-server/src/guidelines/caches/medication-caches.ts
  annotation-server/src/guidelines/entities/guideline-error.entity.ts
  annotation-server/src/guidelines/entities/guideline.entity.ts
  annotation-server/src/guidelines/guidelines.controller.ts
  annotation-server/src/guidelines/guidelines.module.ts
  annotation-server/src/guidelines/guidelines.service.ts
  annotation-server/src/medications/medication.entity.ts
  annotation-server/src/medications/medications.service.ts
  annotation-server/test/app.e2e-spec.ts
Labels: T: Refactor, P: Annotation Server

#296 Omit CPIC `no recommendation`-recommendations
  annotation-server/src/guidelines/guidelines.service.ts
Labels: T: Fix, P: Annotation Server

#280 Add Reports Layout
  app/assets/images/reports_icon.svg
  app/ios/Podfile.lock
  app/lib/common/constants.dart
  app/lib/common/models/cpic_lookup_response.dart
  app/lib/common/models/guideline.dart
  app/lib/common/models/medication.dart
  app/lib/common/models/module.dart
  app/lib/common/models/userdata.dart
  app/lib/common/module.dart
  app/lib/common/pages/main.dart
  app/lib/common/services.dart
  app/lib/common/utilities/genome_data.dart
  app/lib/common/utilities/medication_utils.dart
  app/lib/common/utilities/module.dart
  app/lib/common/widgets/module.dart
  app/lib/common/widgets/radiant_gradient_mask.dart
  app/lib/faq/module.dart
  app/lib/faq/pages/faq.dart
  app/lib/l10n/app_en.arb
  app/lib/login/models/lab.dart
  app/lib/login/module.dart
  app/lib/login/pages/cubit.dart
  app/lib/login/pages/login.dart
  app/lib/main.dart
  app/lib/medications/models/medication.dart
  app/lib/medications/module.dart
  app/lib/onboarding/module.dart
  app/lib/reports/module.dart
  app/lib/reports/pages/cubit.dart
  app/lib/reports/pages/reports.dart
  app/lib/search/module.dart
  app/lib/search/pages/cubit.dart
  app/lib/search/pages/search.dart
  app/lib/settings/module.dart
Labels: P: App

#307 docs: improve local setup guide for lab-server
  lab-server/.env.example
  lab-server/CONTRIBUTING.md
Labels: P: Lab Server

#308 Save CPIC guideline URLs and names
  annotation-server/src/guidelines/dtos/cpic-guideline.dto.ts
  annotation-server/src/guidelines/dtos/cpic-recommendation.dto.ts
  annotation-server/src/guidelines/entities/guideline.entity.ts
  annotation-server/src/guidelines/guidelines.service.ts
Labels: T: Feature, P: Annotation Server

#310 Remove raw SQL
  annotation-server/src/medications/medication.entity.ts
  annotation-server/src/medications/medications.module.ts
  annotation-server/src/medications/medications.service.ts
  annotation-server/test/app.e2e-spec.ts
Labels: T: Refactor, P: Annotation Server

#311 Implement More Page
  app/lib/common/pages/main.dart
  app/lib/l10n/app_en.arb
  app/lib/onboarding/pages/onboarding.dart
  app/lib/settings/module.dart
  app/lib/settings/pages/about_us.dart
  app/lib/settings/pages/privacy_policy.dart
  app/lib/settings/pages/settings.dart
  app/lib/settings/pages/terms_and_conditions.dart
Labels: P: App, T: Feature

#319 Add Tests for S3
  lab-server/package.json
  lab-server/src/s3/s3.service.ts
  lab-server/src/user/user.seeder.ts
  lab-server/test/app.e2e-spec.ts
  lab-server/test/helpers/contstants.ts
  lab-server/test/helpers/keycloak-mock.ts
  lab-server/test/helpers/s3-mock.ts
  lab-server/test/star-alleles.e2e-spec.ts
Labels: P: Lab Server

#316 Small clarifications for local LabServer setup
  lab-server/.env.example
  lab-server/CONTRIBUTING.md
Labels: T: Docs, P: Lab Server

#317 Add glossary
  docs/GLOSSARY.md
Labels: T: Docs

#323 Add CPIC consultationtext to gene phenotypes
  annotation-server/src/gene-phenotypes/dtos/create-gene-symbol.dto.ts
  annotation-server/src/gene-phenotypes/dtos/diplotype.dto.ts
  annotation-server/src/gene-phenotypes/entities/gene-phenotype.entity.ts
  annotation-server/src/gene-phenotypes/entities/gene-symbol.entity.ts
  annotation-server/src/gene-phenotypes/gene-phenotypes.service.ts
Labels: P: Annotation Server
