Repository hpi-dhc/PharMe, pull requests merged in 2022-07, with the labels that each got.

#382 fix(app): check optional properties
  app/lib/common/models/medication/medication.dart
  app/lib/common/pages/medications/medication.dart
Labels: P: App

#370 `anni`: CRUD annotations
  .kitty/annotation-dev
  annotation-interface/CONTRIBUTING.md
  annotation-interface/common/api-helpers.ts
  annotation-interface/common/constants.ts
  annotation-interface/common/generic-helpers.ts
  annotation-interface/common/react-helpers.ts
  annotation-interface/common/server-types.ts
  annotation-interface/components/annotations/AbstractAnnotation.tsx
  annotation-interface/components/annotations/AbstractBrickAnnotation.tsx
  annotation-interface/components/annotations/Annotation.tsx
  annotation-interface/components/annotations/BrickAnnotations.tsx
  annotation-interface/components/annotations/CpicGuidelineBox.tsx
  annotation-interface/components/annotations/WarningLevelAnnotation.tsx
  annotation-interface/components/annotations/drag-drop/DraggableBrick.tsx
  annotation-interface/components/annotations/drag-drop/GenericDroppable.tsx
  annotation-interface/components/annotations/drag-drop/TrashDroppable.tsx
  annotation-interface/components/bricks/AutocompleteArea.tsx
  annotation-interface/components/bricks/AutocompleteMenu.tsx
  annotation-interface/components/bricks/BrickForm.tsx
  annotation-interface/components/bricks/PlaceholderInfo.tsx
  annotation-interface/components/common/Layout.tsx
  annotation-interface/components/common/PageOverlay.tsx
  annotation-interface/components/home/ControlPanel.tsx
  annotation-interface/database/helpers/brick-translations.ts
  annotation-interface/database/helpers/connect.ts
  annotation-interface/database/helpers/resolve-bricks.ts
  annotation-interface/database/helpers/types.ts
  annotation-interface/database/models/AbstractAnnotation.ts
  annotation-interface/database/models/GuidelineAnnotation.ts
  annotation-interface/database/models/MedAnnotation.ts
  annotation-interface/database/models/TextBrick.ts
  annotation-interface/next.config.js
  annotation-interface/package.json
  annotation-interface/pages/annotations/guidelines/[id].tsx
  annotation-interface/pages/annotations/index.tsx
  annotation-interface/pages/annotations/medications/[id].tsx
  annotation-interface/pages/api/annotations/guidelines/[id].ts
  annotation-interface/pages/api/annotations/guidelines/index.ts
  annotation-interface/pages/api/annotations/medications/[id].ts
  annotation-interface/pages/api/annotations/medications/index.ts
  annotation-interface/pages/api/annotations/sync.ts
  annotation-interface/pages/api/bricks/[id].ts
  annotation-interface/pages/api/bricks/index.ts
  annotation-interface/pages/api/server-update.ts
  annotation-interface/pages/bricks/[id].tsx
  annotation-interface/pages/bricks/index.tsx
  annotation-interface/pages/bricks/new.tsx
  annotation-interface/pages/index.tsx
  annotation-interface/tsconfig.json
  annotation-server/src/common/api/bodies.ts
  annotation-server/src/common/dtos/patch-body.dto.ts
  annotation-server/src/guidelines/guidelines.controller.ts
  annotation-server/src/guidelines/guidelines.service.ts
  annotation-server/src/medications/medications.controller.ts
  annotation-server/src/medications/medications.service.ts
  annotation-server/test/app.e2e-spec.ts
  yarn.lock
Labels: T: Change, T: Feature, P: Annotation Server, P: Annotation Interface

#384 fix(annotation-server): medication sort
  annotation-server/src/common/dtos/find-query.dto.ts
  annotation-server/src/medications/medications.controller.ts
  annotation-server/src/medications/medications.service.ts
Labels: T: Fix, P: Annotation Server

#387 fix(app): change description to indication
  app/lib/reports/pages/reports.dart
Labels: P: App

#389 fix(app): change recommendation colors based on warning level
  app/lib/common/pages/medications/medication.dart
  app/lib/reports/pages/reports.dart
Labels: P: App

#365 Issue/312 measuring comprehension widget
  app/lib/common/comprehension_measurement.dart
  app/lib/common/constants.dart
  app/lib/common/pages/main/main.dart
  app/lib/common/pages/medications/cubit.dart
  app/lib/l10n/app_en.arb
  app/lib/search/pages/search.dart
  app/pubspec.lock
  app/pubspec.yaml
Labels: P: App

#397 fix(app): allow localhost addresses
  app/lib/common/pages/medications/cubit.dart
  app/lib/reports/pages/cubit.dart
  app/lib/search/pages/cubit.dart
Labels: P: App, T: Fix

#398 refactor(anni): make placeholders more extensible
  annotation-interface/components/bricks/BrickForm.tsx
  annotation-interface/database/helpers/resolve-bricks.ts
Labels: T: Refactor, P: Annotation Interface

#401 fix(annotation-server): delete unsed method
  annotation-server/src/medications/medications.service.ts
Labels: T: Fix, P: Annotation Server

#402 Add script to minimize DrugBank XML
  annotation-server/CONTRIBUTING.md
  annotation-server/scripts/minimize-xml.py
Labels: T: Feature, P: Annotation Server

#404 Adjust readme
  README.md
Labels: T: Docs

#411 fix(anni): load placeholders from 'All' category
  annotation-interface/database/helpers/resolve-bricks.ts
Labels: T: Fix, P: Annotation Interface

#412 Extract widgets from medications page
  app/lib/common/models/medication/warning_level.dart
  app/lib/common/models/module.dart
  app/lib/common/pages/medications/medication.dart
  app/lib/common/pages/medications/widgets/annotation_card.dart
  app/lib/common/pages/medications/widgets/disclaimer.dart
  app/lib/common/pages/medications/widgets/module.dart
  app/lib/common/pages/medications/widgets/recommendation_card.dart
  app/lib/common/pages/medications/widgets/source_card.dart
  app/lib/common/pages/medications/widgets/sub_header.dart
  app/lib/common/pages/medications/widgets/tooltip_icon.dart
  app/lib/reports/models/warning_level.dart
  app/lib/reports/pages/cubit.dart
  app/lib/reports/pages/reports.dart
Labels: P: App, T: Refactor

#413 Improve Login Flow
  app/ios/Podfile.lock
  app/lib/common/constants.dart
  app/lib/l10n/app_en.arb
  app/lib/login/models/lab.dart
  app/lib/login/pages/cubit.dart
  app/lib/login/pages/login.dart
  app/pubspec.lock
  app/pubspec.yaml
Labels: P: App

#409 docs: add response documentation
  annotation-server/nest-cli.json
  lab-server/nest-cli.json
Labels: P: Annotation Server, P: Lab Server

#421 Rename tests
  annotation-server/src/medications/medication.entity.spec.ts
  annotation-server/test/app.e2e-spec.ts
Labels: T: Refactor, T: Test, P: Annotation Server

#419 Add Global `TypeormErrorInterceptor`
  annotation-server/src/common/interceptors/typeorm-error.interceptor.ts
  annotation-server/src/main.ts
Labels: P: Annotation Server

#424 Improve Login UI
  app/lib/common/constants.dart
  app/lib/common/pages/medications/cubit.dart
  app/lib/login/models/lab.dart
  app/lib/login/pages/cubit.dart
  app/lib/login/pages/login.dart
  app/lib/reports/pages/cubit.dart
  app/lib/search/pages/cubit.dart
Labels: P: App

#426 Rename PharMeApp
  app/lib/common/l10n.dart
  app/lib/common/pages/medications/medication.dart
  app/lib/common/pages/medications/widgets/annotation_card.dart
  app/lib/common/pages/medications/widgets/disclaimer.dart
  app/lib/common/pages/medications/widgets/recommendation_card.dart
  app/lib/common/pages/medications/widgets/source_card.dart
  app/lib/common/pages/medications/widgets/sub_header.dart
  app/lib/common/theme.dart
  app/lib/common/widgets/app.dart
  app/lib/common/widgets/headings.dart
  app/lib/faq/pages/faq.dart
  app/lib/main.dart
  app/lib/onboarding/pages/onboarding.dart
  app/lib/reports/pages/reports.dart
  app/lib/search/pages/search.dart
  app/lib/settings/pages/about_us.dart
  app/lib/settings/pages/privacy_policy.dart
  app/lib/settings/pages/settings.dart
  app/lib/settings/pages/terms_and_conditions.dart
  docs/FLUTTER_STYLE.md
Labels: P: App

#423 Adjust READMEs of system components
  README.md
  annotation-interface/README.md
  annotation-server/README.md
  app/README.md
  lab-server/README.md
Labels: P: App, T: Docs, P: Annotation Server, P: Lab Server, P: Annotation Interface

#427 chore(app): change scio dependency
  app/lib/common/constants.dart
  app/lib/common/pages/main/main.dart
  app/lib/common/pages/medications/cubit.dart
  app/lib/search/pages/search.dart
  app/pubspec.lock
  app/pubspec.yaml
Labels: P: App

#416 Reset Router on Repeated Tab Click
  app/lib/common/pages/main/main.dart
Labels: P: App

#430 Fix: Sign-In Flow not working on Android
  app/android/app/src/main/AndroidManifest.xml
Labels: P: App

#433 Autosize texts in app
  app/assets/images/onboarding/5.gif
  app/lib/common/module.dart
  app/lib/common/pages/medications/medication.dart
  app/lib/common/pages/medications/widgets/source_card.dart
  app/lib/onboarding/pages/onboarding.dart
  app/pubspec.lock
  app/pubspec.yaml
Labels: P: App, T: Change, T: Fix

#435 Fix search page SVG errors
  app/assets/images/logo.svg
Labels: P: App, T: Fix

#428 Validate dotenv, simplify dev setup
  .github/workflows/annotation-server.yml
  .github/workflows/lab-server.yml
  annotation-server/.env.example
  annotation-server/CONTRIBUTING.md
  annotation-server/docker-compose.yml
  annotation-server/package.json
  annotation-server/src/app.module.ts
  annotation-server/src/common/utils/google-sheets.spec.ts
  annotation-server/src/common/validations/env.validation.ts
  annotation-server/src/main.ts
  annotation-server/src/medications/medications.service.spec.ts
  lab-server/.env.example
  lab-server/CONTRIBUTING.md
  lab-server/docker-compose.yml
  lab-server/package.json
  lab-server/seeder.ormconfig.js
  lab-server/src/app.module.ts
  lab-server/src/common/validations/env.validation.ts
  lab-server/src/configs/typeorm.config.ts
  lab-server/src/main.ts
  yarn.lock
Labels: P: Annotation Server, P: Lab Server

#305 setup k8s
  .github/workflows/annotation-server.yml
  .github/workflows/lab-server.yml
  annotation-server/.gitignore
  annotation-server/deployment/app/db.yml
  annotation-server/deployment/app/deployment.yml
  annotation-server/deployment/namespace.yml
  app/lib/common/constants.dart
  app/lib/login/models/lab.dart
  lab-server/.gitignore
  lab-server/deployment/app/db.yml
  lab-server/deployment/app/deployment.yml
  lab-server/deployment/keycloak/db.yml
  lab-server/deployment/keycloak/deployment.yml
  lab-server/deployment/minio/deployment.yml
  lab-server/deployment/namespace.yml
Labels: P: App, T: Build, P: Annotation Server, P: Lab Server, MVP: Won't have

#410 393/add tests
  .github/workflows/app.yml
  app/.gitignore
  app/integration_test/faq_test.dart
  app/integration_test/login_test.dart
  app/integration_test/main_page_test.dart
  app/integration_test/medications_test.dart
  app/integration_test/onboarding_test.dart
  app/integration_test/reports_test.dart
  app/integration_test/search_test.dart
  app/integration_test/settings_test.dart
  app/lib/common/pages/medications/cubit.dart
  app/lib/common/pages/medications/medication.dart
  app/lib/common/pages/medications/widgets/recommendation_card.dart
  app/lib/faq/pages/faq.dart
  app/lib/login/module.dart
  app/lib/login/pages/login.dart
  app/lib/onboarding/pages/onboarding.dart
  app/lib/reports/module.dart
  app/lib/reports/pages/reports.dart
  app/lib/search/module.dart
  app/lib/search/pages/search.dart
  app/pubspec.yaml
  codecov.yml
Labels: P: App

#403 Validate DTOs
  .markdownlint.yml
  annotation-server/src/common/dtos/instantiable.dto.ts
  annotation-server/src/common/dtos/patch-body.dto.ts
  annotation-server/src/common/entities/base.entity.ts
  annotation-server/src/guidelines/dtos/cpic-guideline.dto.ts
  annotation-server/src/guidelines/dtos/cpic-recommendation.dto.ts
  annotation-server/src/guidelines/entities/guideline.entity.ts
  annotation-server/src/guidelines/guidelines.controller.ts
  annotation-server/src/guidelines/guidelines.service.ts
  annotation-server/src/main.ts
  annotation-server/src/medications/dtos/find-medication-query-dto.ts
  annotation-server/src/medications/medication.entity.ts
  annotation-server/src/medications/medications.controller.ts
  annotation-server/src/medications/medications.service.ts
  annotation-server/src/phenotypes/dtos/diplotype.dto.ts
  annotation-server/src/phenotypes/phenotypes.service.ts
Labels: T: Feature, P: Annotation Server

#439 fix(app): wrong key in tests
  app/integration_test/faq_test.dart
Labels: P: App

#437 Improve app strings
  app/lib/l10n/app_en.arb
Labels: P: App, T: Change, T: Refactor
