Repository hpi-dhc/PharMe, pull requests merged in 2022-06, with the labels that each got.

#326 321 encrypt hive boxes
  app/android/app/build.gradle
  app/ios/Podfile.lock
  app/lib/common/models/metadata.dart
  app/lib/common/models/userdata.dart
  app/lib/common/utilities/hive_utils.dart
  app/pubspec.lock
  app/pubspec.yaml
Labels: P: App

#331 Lab server swagger docs
  lab-server/src/app.controller.ts
  lab-server/src/main.ts
  lab-server/src/star-alleles/entities/star-alleles.entity.ts
  lab-server/src/star-alleles/star-alleles.controller.ts
  lab-server/src/swagger-config.ts
Labels: P: Lab Server

#328 feat: implement caching
  app/lib/common/models/guideline.dart
  app/lib/common/models/medication.dart
  app/lib/common/models/medication/cached_medications.dart
  app/lib/common/models/medication/guideline.dart
  app/lib/common/models/medication/medication.dart
  app/lib/common/models/module.dart
  app/lib/common/models/userdata/diplotype.dart
  app/lib/common/models/userdata/userdata.dart
  app/lib/common/pages/medications/cubit.dart
  app/lib/common/services.dart
  app/lib/common/utilities/medication_utils.dart
  app/lib/common/utilities/module.dart
  app/lib/common/utilities/networking_utils.dart
  app/lib/reports/models/warning_level.dart
  app/lib/reports/pages/cubit.dart
  app/lib/reports/pages/reports.dart
  app/lib/search/pages/cubit.dart
Labels: P: App

#345 Adapt Onboarding to Figma prototypes
  app/assets/images/onboarding/1.gif
  app/assets/images/onboarding/2.gif
  app/assets/images/onboarding/3.gif
  app/assets/images/onboarding/4.gif
  app/assets/images/onboarding/5.gif
  app/assets/images/onboarding_medicine.svg
  app/assets/images/onboarding_security.svg
  app/assets/images/onboarding_welcome.svg
  app/lib/common/theme.dart
  app/lib/l10n/app_en.arb
  app/lib/onboarding/pages/onboarding.dart
  app/pubspec.yaml
Labels: P: App, T: Change

#314 Annotation server refactoring
  annotation-server/package.json
  annotation-server/src/app.module.ts
  annotation-server/src/app.service.ts
  annotation-server/src/common/api/queries.ts
  annotation-server/src/common/dtos/find-query.dto.ts
  annotation-server/src/common/dtos/searchable-find-query.dto.ts
  annotation-server/src/common/entities/base.entity.ts
  annotation-server/src/common/utils/cache-map.ts
  annotation-server/src/common/utils/google-sheets.spec.ts
  annotation-server/src/common/utils/google-sheets.ts
  annotation-server/src/gene-phenotypes/entities/gene-phenotype.entity.ts
  annotation-server/src/gene-phenotypes/entities/gene-symbol.entity.ts
  annotation-server/src/gene-phenotypes/entities/phenotype.entity.ts
  annotation-server/src/gene-phenotypes/gene-phenotypes.controller.ts
  annotation-server/src/gene-phenotypes/gene-phenotypes.module.ts
  annotation-server/src/gene-phenotypes/gene-phenotypes.service.ts
  annotation-server/src/guidelines/caches/gene-phenotype-caches.ts
  annotation-server/src/guidelines/caches/guideline-cache.ts
  annotation-server/src/guidelines/dtos/find-guideline-error.dto.ts
  annotation-server/src/guidelines/entities/guideline-error.entity.ts
  annotation-server/src/guidelines/entities/guideline.entity.ts
  annotation-server/src/guidelines/guidelines.controller.ts
  annotation-server/src/guidelines/guidelines.module.ts
  annotation-server/src/guidelines/guidelines.service.ts
  annotation-server/src/main.ts
  annotation-server/src/medications/dtos/find-medication-query-dto.ts
  annotation-server/src/medications/medication.entity.ts
  annotation-server/src/medications/medications.controller.ts
  annotation-server/src/medications/medications.service.ts
  annotation-server/src/medications/scripts/zipped-xml-to-json
  annotation-server/test/app.e2e-spec.ts
  app/lib/common/pages/medications/cubit.dart
  app/lib/reports/pages/cubit.dart
Labels: P: App, T: Change, T: Feature, T: Refactor, P: Annotation Server

#353 refactor: remove yarn.lock in sub-workspaces
  annotation-server/yarn.lock
  lab-server/yarn.lock
  miscellaneous/jest-badges-generator/yarn.lock
  miscellaneous/meeting-assistant/yarn.lock
  package.json
  yarn.lock
Labels: T: Fix, T: Refactor, P: Annotation Server, P: Lab Server

#357 Redirect to cpic from medication screen
  app/lib/common/models/medication/guideline.dart
  app/lib/common/pages/medications/medication.dart
  app/lib/l10n/app_en.arb
Labels: P: App, T: Change, T: Feature

#356 perf: limit how many medications can be cached
  app/ios/Podfile.lock
  app/lib/common/constants.dart
  app/lib/common/models/medication/cached_medications.dart
  app/lib/common/models/medication/medication.dart
  app/lib/common/pages/medications/cubit.dart
  app/lib/reports/pages/cubit.dart
  app/pubspec.lock
Labels: P: App

#359 feat: improve caching
  app/ios/Podfile.lock
  app/lib/common/models/medication/cached_medications.dart
  app/lib/common/models/medication/medication.dart
  app/lib/reports/pages/cubit.dart
  app/pubspec.lock
Labels: P: App

#330 `anni`: Setup
  .dockerignore
  .github/workflows/annotation-interface.yml
  annotation-interface/.dockerignore
  annotation-interface/.env.example
  annotation-interface/.eslintrc.js
  annotation-interface/.gitignore
  annotation-interface/.prettierrc
  annotation-interface/CONTRIBUTING.md
  annotation-interface/Dockerfile
  annotation-interface/README.md
  annotation-interface/database/connect.ts
  annotation-interface/docker-compose.yaml
  annotation-interface/global.d.ts
  annotation-interface/next-env.d.ts
  annotation-interface/next.config.js
  annotation-interface/package.json
  annotation-interface/pages/_app.tsx
  annotation-interface/pages/index.tsx
  annotation-interface/postcss.config.js
  annotation-interface/public/favicon.ico
  annotation-interface/public/vercel.svg
  annotation-interface/styles/Home.module.css
  annotation-interface/styles/globals.css
  annotation-interface/tailwind.config.js
  annotation-interface/tsconfig.json
  package.json
  yarn.lock
Labels: T: Build, T: Feature, P: Annotation Interface

#350 fix(app): filter user guidelines on medication detail screen
  app/lib/common/pages/medications/medication.dart
  app/lib/l10n/app_en.arb
Labels: P: App

#347 `anni`: Layout
  annotation-interface/components/NavBar.tsx
  annotation-interface/pages/_app.tsx
  annotation-interface/pages/index.tsx
  annotation-interface/public/favicon.ico
  annotation-interface/public/vercel.svg
  annotation-interface/styles/Home.module.css
Labels: T: Feature, Waiting for Dependency, P: Annotation Interface

#362 Rename `GenePhenotype`
  annotation-server/src/app.module.ts
  annotation-server/src/app.service.ts
  annotation-server/src/guidelines/caches/gene-phenotype-caches.ts
  annotation-server/src/guidelines/caches/phenotype-caches.ts
  annotation-server/src/guidelines/entities/guideline-error.entity.ts
  annotation-server/src/guidelines/entities/guideline.entity.ts
  annotation-server/src/guidelines/guidelines.module.ts
  annotation-server/src/guidelines/guidelines.service.ts
  annotation-server/src/medications/medications.service.ts
  annotation-server/src/phenotypes/dtos/diplotype.dto.ts
  annotation-server/src/phenotypes/entities/gene-result.entity.ts
  annotation-server/src/phenotypes/entities/gene-symbol.entity.ts
  annotation-server/src/phenotypes/entities/phenotype.entity.ts
  annotation-server/src/phenotypes/phenotypes.module.ts
  annotation-server/src/phenotypes/phenotypes.service.ts
  app/lib/common/models/medication/cached_medications.dart
  app/lib/common/models/medication/guideline.dart
  app/lib/common/pages/medications/medication.dart
  app/lib/common/utilities/medication_utils.dart
  docs/GLOSSARY.md
Labels: P: App, T: Refactor, P: Annotation Server

#336 `anni`: Text Bricks CRUD
  annotation-interface/.eslintrc.js
  annotation-interface/common/constants.ts
  annotation-interface/common/react-helpers.ts
  annotation-interface/components/BrickForm.tsx
  annotation-interface/components/FilterTabs.tsx
  annotation-interface/components/NavBar.tsx
  annotation-interface/components/PageHeading.tsx
  annotation-interface/components/SelectionPopover.tsx
  annotation-interface/database/models/TextBrick.ts
  annotation-interface/package.json
  annotation-interface/pages/_app.tsx
  annotation-interface/pages/annotations.tsx
  annotation-interface/pages/api/bricks/[id].ts
  annotation-interface/pages/api/bricks/index.ts
  annotation-interface/pages/bricks/[id].tsx
  annotation-interface/pages/bricks/index.tsx
  annotation-interface/pages/bricks/new.tsx
  docs/GLOSSARY.md
Labels: T: Feature, P: Annotation Interface

#361 `anni`: Show Annotation Server data
  annotation-interface/.env.example
  annotation-interface/CONTRIBUTING.md
  annotation-interface/common/constants.ts
  annotation-interface/common/server-types.ts
  annotation-interface/components/FilterTabs.tsx
  annotation-interface/components/NavBar.tsx
  annotation-interface/components/annotations/Annotation.tsx
  annotation-interface/components/annotations/CpicGuidelineBox.tsx
  annotation-interface/components/bricks/BrickForm.tsx
  annotation-interface/components/common/DisplayLanguagePicker.tsx
  annotation-interface/components/common/FilterTabs.tsx
  annotation-interface/components/common/Label.tsx
  annotation-interface/components/common/Layout.tsx
  annotation-interface/components/common/PageHeading.tsx
  annotation-interface/components/common/SearchBar.tsx
  annotation-interface/components/common/SelectionPopover.tsx
  annotation-interface/components/common/WithIcon.tsx
  annotation-interface/contexts/annotationFilter.tsx
  annotation-interface/contexts/brickFilter.tsx
  annotation-interface/contexts/language.tsx
  annotation-interface/package.json
  annotation-interface/pages/_app.tsx
  annotation-interface/pages/annotations.tsx
  annotation-interface/pages/annotations/guidelines/[id].tsx
  annotation-interface/pages/annotations/index.tsx
  annotation-interface/pages/annotations/medications/[id].tsx
  annotation-interface/pages/bricks/[id].tsx
  annotation-interface/pages/bricks/index.tsx
  annotation-interface/pages/bricks/new.tsx
  annotation-server/src/common/api/params.ts
  annotation-server/src/guidelines/dtos/find-guideline.dto.ts
  annotation-server/src/guidelines/guidelines.controller.ts
  annotation-server/src/guidelines/guidelines.service.ts
  annotation-server/src/medications/dtos/find-medication-query-dto.ts
  annotation-server/src/medications/medications.controller.ts
  annotation-server/src/medications/medications.service.ts
  annotation-server/test/app.e2e-spec.ts
  app/lib/common/pages/medications/cubit.dart
  app/lib/reports/pages/cubit.dart
Labels: P: App, T: Feature, T: Refactor, P: Annotation Server, P: Annotation Interface

#354 113 pdf export
  app/android/app/build.gradle
  app/android/app/src/main/AndroidManifest.xml
  app/android/app/src/main/res/xml/provider_paths.xml
  app/android/build.gradle
  app/ios/Podfile.lock
  app/ios/Runner.xcodeproj/project.pbxproj
  app/ios/Runner/Info.plist
  app/lib/common/models/medication/guideline.dart
  app/lib/common/pages/medications/medication.dart
  app/lib/common/utilities/medication_utils.dart
  app/lib/common/utilities/pdf_utils.dart
  app/pubspec.lock
  app/pubspec.yaml
Labels: P: App

#368 Add Comprehension Measurement Helper
  app/lib/common/comprehension_measurement.dart
  app/lib/common/pages/main/main.dart
  app/lib/search/pages/search.dart
Labels: P: App

#372 chore(app): update dependencies
  .github/workflows/app.yml
  app/lib/common/pages/main/main.dart
  app/lib/common/pages/medications/cubit.dart
  app/lib/faq/pages/faq.dart
  app/lib/login/pages/login.dart
  app/pubspec.lock
  app/pubspec.yaml
Labels: P: App
