Repository hpi-dhc/PharMe, pull requests merged in 2022-04, with the labels that each got.

#184 fix: ensure env files are present during app workflows
  .github/workflows/app.yml
  app/lib/auth/login/models/lab.dart
  app/lib/main.dart
Labels: P: App

#188 Add Codecov
  .github/workflows/annotation-server.yml
  .github/workflows/lab-server.yml
  annotation-server/test/jest-e2e.json
  lab-server/test/jest-e2e.json
Labels: P: Annotation Server, P: Lab Server

#190 feat: use global `api/v1/` prefix for annotation-server
  annotation-server/src/main.ts
Labels: P: Annotation Server

#158 Use DrugBank for annotation server
  .github/workflows/annotation-server.yml
  annotation-server/.dockerignore
  annotation-server/.env.example
  annotation-server/.gitignore
  annotation-server/CONTRIBUTING.md
  annotation-server/Dockerfile
  annotation-server/data/random-database.zip
  annotation-server/docker-compose.yml
  annotation-server/nest-cli.json
  annotation-server/package.json
  annotation-server/requirements.txt
  annotation-server/scripts/generate-example-data
  annotation-server/src/app.module.ts
  annotation-server/src/common/scripts/zipped-xml-to-json
  annotation-server/src/common/utils/download-unzip.ts
  annotation-server/src/medications/interfaces/drugbank.interface.ts
  annotation-server/src/medications/medication.entity.ts
  annotation-server/src/medications/medications.controller.ts
  annotation-server/src/medications/medications.entity.ts
  annotation-server/src/medications/medications.module.ts
  annotation-server/src/medications/medications.service.ts
  annotation-server/src/medications/medicationsGroup.entity.ts
  annotation-server/test/.env.example
  annotation-server/test/medications.e2e-spec.ts
  annotation-server/yarn.lock
  app/ios/Podfile.lock
  app/lib/medications/models/medication.dart
  app/lib/medications/models/medications_group.dart
  app/lib/medications/pages/overview/cubit.dart
  app/lib/medications/pages/overview/page.dart
Labels: P: App, T: Change, P: Annotation Server

#149 Add local Docker compose file for automated local setup
  annotation-server/docker-compose.yml
  lab-server/.env.example
  lab-server/CONTRIBUTING.md
  lab-server/docker-compose.yml
  lab-server/package.json
  lab-server/yarn.lock
Labels: P: Annotation Server, P: Lab Server

#195 Update Dependencies
  annotation-server/package.json
  annotation-server/yarn.lock
  app/lib/auth/login/pages/cubit.dart
  app/lib/auth/login/pages/login.dart
  app/pubspec.lock
  app/pubspec.yaml
  lab-server/package.json
  lab-server/yarn.lock
  package.json
  yarn.lock
Labels: P: App, P: Annotation Server, P: Lab Server

#187 Add minio bucket
  .github/workflows/lab-server.yml
  lab-server/.env.example
  lab-server/package.json
  lab-server/seeder.ormconfig.ts
  lab-server/src/app.controller.ts
  lab-server/src/app.module.ts
  lab-server/src/common/entities/base.entity.ts
  lab-server/src/common/oidc/jwt.interface.ts
  lab-server/src/common/oidc/oidc-user.ts
  lab-server/src/common/pipes/keycloak-user.pipe.ts
  lab-server/src/configs/minio.config.ts
  lab-server/src/configs/typeorm.config.ts
  lab-server/src/s3/s3.module.ts
  lab-server/src/s3/s3.service.ts
  lab-server/src/star-alleles/star-alleles.controller.ts
  lab-server/src/star-alleles/star-alleles.module.ts
  lab-server/src/star-alleles/star-alleles.service.ts
  lab-server/src/user/entities/user.entity.ts
  lab-server/src/user/user.module.ts
  lab-server/src/user/user.seeder.ts
  lab-server/test/helpers/contstants.ts
  lab-server/test/helpers/keycloak-mock.ts
  lab-server/test/star-alleles.e2e-spec.ts
  lab-server/yarn.lock
Labels: P: Lab Server

#217 Clean up annotation server
  annotation-server/nest-cli.json
  annotation-server/src/app.module.ts
  annotation-server/src/clinical_annotation/clinical_annotation.controller.ts
  annotation-server/src/clinical_annotation/clinical_annotation.entity.ts
  annotation-server/src/clinical_annotation/clinical_annotation.module.ts
  annotation-server/src/clinical_annotation/clinical_annotation.service.ts
  annotation-server/src/common/utils/download-unzip.ts
  annotation-server/src/medications/medications.service.ts
  annotation-server/src/medications/scripts/zipped-xml-to-json
  annotation-server/test/clinical_annotation.e2e-spec.ts
Labels: T: Refactor, P: Annotation Server

#210 Use VM Urls in App
  .github/workflows/app.yml
  app/.env.example
  app/ios/Podfile.lock
  app/lib/auth/login/models/lab.dart
  app/lib/auth/login/pages/cubit.dart
  app/lib/common/constants.dart
  app/lib/main.dart
  app/lib/medications/pages/overview/cubit.dart
  app/lib/profile/pages/cubit.dart
  app/pubspec.lock
  app/pubspec.yaml
Labels: P: App

#182 feat: yarn workspaces
  .dockerignore
  annotation-server/.env.example
  annotation-server/Dockerfile
  annotation-server/docker-compose.yml
  annotation-server/package.json
  annotation-server/src/main.ts
  app/pubspec.lock
  lab-server/.env.example
  lab-server/Dockerfile
  lab-server/docker-compose.yml
  lab-server/package.json
  lab-server/seeder.ormconfig.js
  lab-server/src/main.ts
  package.json
  tsconfig.json
  yarn.lock
Labels: P: App, P: Annotation Server, P: Lab Server

#196 Update Docs
  annotation-server/README.md
  lab-server/README.md
Labels: P: Annotation Server, P: Lab Server

#201 Use Flutter Hooks
  app/lib/auth/onboarding/pages/onboarding.dart
  app/lib/medications/pages/overview/page.dart
  app/lib/profile/pages/cubit.dart
  app/lib/profile/pages/profile.dart
  app/pubspec.lock
  app/pubspec.yaml
  lab-server/yarn.lock
Labels: P: App, P: Lab Server

#238 Remove onboarding from auth dir
  app/lib/auth/module.dart
  app/lib/common/routing/router.dart
  app/lib/common/widgets/app.dart
  app/lib/login/models/lab.dart
  app/lib/login/module.dart
  app/lib/login/pages/cubit.dart
  app/lib/login/pages/login.dart
  app/lib/onboarding/module.dart
  app/lib/onboarding/pages/onboarding.dart
  app/pubspec.lock
Labels: P: App, T: Refactor

#227 style: update app theme (#223)
  .github/workflows/app.yml
  app/lib/common/theme.dart
  app/lib/common/widgets/headings.dart
  app/lib/login/pages/login.dart
  app/lib/onboarding/pages/onboarding.dart
  app/pubspec.lock
  app/pubspec.yaml
Labels: P: App

#243 PGx Screen: Scroll to Content on Expand
  app/lib/pgx/pages/pgx.dart
Labels: P: App
