Repository hpi-dhc/PharMe, pull requests merged in 2023-04, with the labels that each got.

#580 Incorrect backup recovery of version history
  anni/src/pages/api/backup.ts
Labels: P: Annotation Interface

#581 Change log-in flow for study
  app/assets/images/onboarding/1.png
  app/assets/images/onboarding/2.png
  app/assets/images/onboarding/3.png
  app/assets/images/onboarding/4.png
  app/assets/images/onboarding/5.png
  app/assets/images/onboarding/svg/2.svg
  app/assets/images/onboarding/svg/3.svg
  app/assets/images/onboarding/svg/4.svg
  app/assets/images/onboarding/svg/5.svg
  app/integration_test/onboarding_test.dart
  app/integration_test/settings_test.dart
  app/ios/Podfile.lock
  app/lib/common/routing/router.dart
  app/lib/common/widgets/app.dart
  app/lib/l10n/app_en.arb
  app/lib/onboarding/module.dart
  app/lib/onboarding/pages/onboarding.dart
  app/lib/settings/pages/settings.dart
  app/pubspec.lock
  app/pubspec.yaml
Labels: P: App

#583 Check for new Anni data version more often
  app/lib/common/utilities/drug_utils.dart
  app/lib/search/pages/cubit.dart
  app/lib/search/pages/search.dart
Labels: P: App

#586 build(anni): add Git config for backupper to .env
  anni/backupper/.env.example
  anni/backupper/Dockerfile
  anni/backupper/README.md
  anni/backupper/run.sh
  anni/docker-compose.yaml
Labels: P: Annotation Interface

#587 build: add restart policies to docker-compose files
  anni/docker-compose.yaml
  lab-server/docker-compose.yml
Labels: P: Lab Server, P: Annotation Interface

#593 Show warning on guideline change * Title: "Updated guidelines"
  app/lib/common/utilities/drug_utils.dart
  app/lib/common/widgets/app.dart
  app/lib/l10n/app_en.arb
  app/lib/main.dart
Labels: P: App

#594 Show affected medications for gene
  app/integration_test/search_test.dart
  app/lib/common/routing/router.dart
  app/lib/common/utilities/genome_data.dart
  app/lib/common/widgets/drug_list/builder.dart
  app/lib/common/widgets/drug_list/cubit.dart
  app/lib/common/widgets/module.dart
  app/lib/l10n/app_en.arb
  app/lib/report/module.dart
  app/lib/report/pages/gene.dart
  app/lib/search/module.dart
  app/lib/search/pages/search.dart
Labels: P: App

#596 Handle deleting Bricks
  anni/src/common/definitions.tsx
  anni/src/components/bricks/BrickForm.tsx
  anni/src/components/bricks/BrickUsage.tsx
  anni/src/contexts/brickFilter.tsx
  anni/src/database/helpers/brick-validators.ts
  anni/src/database/helpers/resolve-bricks.ts
  anni/src/database/models/TextBrick.ts
  anni/src/pages/bricks/[id].tsx
  anni/src/pages/bricks/new.tsx
Labels: P: Annotation Interface

#597 One annotation per phenotype
  anni/src/components/annotations/GuidelineBox.tsx
  anni/src/database/helpers/cpic-constructors.ts
  anni/src/database/models/Guideline.ts
  anni/src/pages/annotations/[did]/[gid].tsx
  app/integration_test/drugs_test.dart
  app/lib/common/models/drug/guideline.dart
  app/lib/common/pages/drug/widgets/annotation_cards/guideline.dart
  app/lib/common/utilities/pdf_utils.dart
Labels: P: App, P: Annotation Interface

#599 Zipped Anni backup
  anni/backupper/run.sh
  anni/package.json
  anni/src/pages/api/backup.ts
  yarn.lock
Labels: P: Annotation Interface

#600 Wording changes
  .github/workflows/app.yml
  app/analysis_options.yaml
  app/assets/images/onboarding/1.png
  app/assets/images/onboarding/2.png
  app/assets/images/onboarding/3.png
  app/assets/images/onboarding/4.png
  app/assets/images/onboarding/5.png
  app/assets/images/onboarding/svg/2.svg
  app/assets/images/onboarding/svg/3.svg
  app/assets/images/onboarding/svg/4.svg
  app/assets/images/onboarding/svg/5.svg
  app/integration_test/onboarding_test.dart
  app/integration_test/settings_test.dart
  app/ios/Podfile.lock
  app/ios/Runner.xcodeproj/project.pbxproj
  app/ios/Runner/Info.plist
  app/lib/common/routing/router.dart
  app/lib/common/theme.dart
  app/lib/common/utilities/drug_utils.dart
  app/lib/faq/constants.dart
  app/lib/l10n/app_en.arb
  app/lib/login/pages/cubit.dart
  app/lib/login/pages/login.dart
  app/lib/onboarding/module.dart
  app/lib/onboarding/pages/onboarding.dart
  app/lib/settings/pages/settings.dart
  app/pubspec.lock
  app/pubspec.yaml
  docs/GLOSSARY.md
Labels: P: App

#602 Issue/601 use phenotypes from cpic
  anni/src/common/cpic-api.ts
  anni/src/database/helpers/cpic-constructors.ts
  anni/src/database/helpers/guideline-data.ts
  anni/src/database/models/Guideline.ts
Labels: P: Annotation Interface
